/Peru
/data
/opencitations_token.py
/core_api_key.py
/inwestycje.py
/Gortych_wiso_credentials.py
/chatgpt_key.py
/dyscypliny_radon_response.json
/pbl_credentials.py
/apicache-py3/
/pywikibot.lwp
/throttle.ctrl
/translations_after_manual_2022-11-02.xlsx
/translation_before_manual_2022-09-20.xlsx
/translations_after_manual_2022-09-21.xlsx
/translations_after_manual_2022-09-16.xlsx
/translations_after_first_manual_with_germany_2022-08-12.xlsx
/translations_after_second_manual_2022-09-02.xlsx
/translations_after_first_manual_2022-08-11.xlsx
/translations_after_manual_2022-08-11.xlsx
/translations_after_manual_2022-06-28.xlsx
/translation_before_manual_2022-06-27.xlsx
/missing_wikidata.txt
/miasto_wieś_bn_errors.txt
/geonames_accounts.py
/miasto_wieś_bn_dict.pickle
/fbc_ssh_extract.py
/geckodriver.exe
/translation_deduplicated_with_geonames_2022-05-10.xlsx
/relacje_clustrow.pickle
/translation_database_clusters_year_author_language_work_2022-03-28.xlsx
/translation_database_clusters_year_author_language_work_genre_audience_2022-03-29.xlsx
/translation_deduplicated_2022-03-28.xlsx
/translations_places.pickle
/translations_places_no_fuzzy.pickle
/MARC21_country_codes.txt
/kundera.xlsx
/nemcova.xlsx
/samizdat_country_classification_to_nodegoat.csv
/samizdat_occupation_classification_to_nodegoat.csv
/translation_database_clusters_year_author_language_work_2022-03-21.xlsx
/translation_database_clusters_year_author_language_2022-03-14.xlsx
/df_with_title_clusters_2022-03-15.xlsx
/new_cz_authority_df_2021-11-29.xlsx
/people_clusters.xlsx
/problematic_records_2021-11-29.xlsx
/samizdat_kartoteka_osob_viaf.json                         
/translation_database_2021-11-29.xlsx                      
/translation_database_with_VIAF_work_2021-12-16.xlsx       
/viaf_work_dict_pi.pickle  
/samizdat_kartoteka_osob_viaf.json
/all_data_correctness.xlsx
/HQ_data_deduplicated_2021-10-27.xlsx
/translation_database_clusters_with_quality_index_2021-10-27.xlsx
/duplicates_brno_nkc_and_oclc.xlsx
/duplikaty_czeskie.xlsx
/hq_data_deduplicated.xlsx
/all_data_deduplicated_phase_2_30.06.2021.xlsx
/all_data_deduplicated_phase_2.xlsx
/all_data_deduplicated.xlsx
/translation_correct_data.xlsx
/samizdat_people_2021-06-09.json
/~$unused_people.xlsx
/bn_harvested_articles_2021_05_24.xlsx
/bn_harvested_articles_2021_05_25.xlsx
/bn_harvested_articles_2021_05_27.xlsx
/bn_harvested_chapters_2021_05_27.xlsx
/marc_df_articles_2021_05_24.mrc
/marc_df_articles_2021_05_24.mrk
/marc_df_articles_2021_05_25.mrc
/marc_df_articles_2021_05_25.mrk
/marc_df_articles_errors_2021_05_24.txt
/marc_df_articles_errors_2021_05_25.txt
/marc_df_articles_errors_2021_05_27.txt
/marc_df_chapters_2021_05_27.mrc
/test.xlsx
/bn_harvested_2021_05_12.xlsx
/garmin_credentials.py
/running.jpg
/running.xlsx
/bn_harvested_2021_05_12.mrc
/bn_ks_libri_mapowanie.xlsx
/oclc_all_positive.xlsx
/google_drive_research_folders.py
/roznica.xlsx
/libri_margines.xlsx
/test.txt
/libri_zmapowane.xlsx
/libri_zmapowane2.xlsx
/word_embedding_test.txt
/je_tutorial.db
/oclc_pl_test.xlsx
/google_drive_credentials.py
/książki_BN.xlsx
/bn_articles_marc.xlsx
/client_secrets.json
/pythonsheets-credentials.json
/Book_recordTypes_03.xlsx
/debug.log
/geckodriver.log
/wordpress_credentials.py
/oclc_other_lang_count_008.xlsx
/oclc_other_languages.xlsx
/pbl_viaf.xlsx
/bn_books_marc.xlsx
/libri_marc_bn_articles.mrc
/libri_marc_bn_articles.mrk
/test.mrc
/libri_marc_bn_books.mrc
/libri_marc_bn_books.mrk
/pbl_retro.mrc
/pbl_retro.mrk
/loc_data.xlsx
/fp_credentials.py
/do ignorowania.txt
__pycache__/
*.py[cod]
/client_secret.json
/token_sheets_v4.pickle
/test.xml
/testa.spydata
/viaf.xml
/cz_names_viaf.csv
/test.mrk
/cz_names_viaf2.xlsx
/cz_names_viaf.xlsx
/cz_names_viaf_sep_dates.csv
/cz_names_viaf_sep_dates.xlsx
/swe.mrk
/swe_data.xlsx
/swe_errors.xlsx
/swe_names.xlsx
/pbl_subject_headings.csv
/language_codes_marc.xlsx
/libri_data.spydata
/pbl_marc_books.xlsx
/pbl_marc_books2.mrc
/pbl_marc_books.mrk
/bn_articles_to_link.xlsx
/BN_books_2013-2019.csv
/bar_trial.xlsx
/bar_catalog.mrc
/bar_catalog.mrk
/bar_catalog.xlsx
/marc_errors.txt
/pol.mrk
/pol_data.xlsx
/pol_errors.xlsx
/pol_names.xlsx
/cz_authorities.xlsx
/cz_data.xlsx
/pbl_marc_articles.mrc
/pbl_marc_articles.xlsx
/bazhum_web_scraping.xlsx
/pol_data_cz_origin.xlsx
/pol_data_no_dates.xlsx
/swe_data_cz_origin.xlsx
/swe_data_no_dates.xlsx
/pol_data_clean.xlsx
/swe_data_clean.xlsx
/bn_articles.xlsx
/bn_magazines_to_statistics.xlsx
/statystyki_czasopism_bn_pbl.xlsx
/bn_magazines.xlsx
/mapowanie_czasopism_PBL_BN.xlsx
/bn_articles.csv
/LoC_national_literatures.xlsx
/fi_data.xlsx
/pbl_marc_articles.mrk
/pbl_marc_books.mrc
/no_cz_original.mrc
/no_cz_original.mrk
/no_cz_original.xlsx
/translation_trajectories_test.xlsx
/translations_total.mrc
/translations_total.mrk
/translations_total.xlsx
/triple_labels_translation.xlsx
/triple_labels_translation_final.xlsx
/triple_labels_translation_all_languages.xlsx
/BN_MAK_synat_passim.xlsx